POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

KEYCLOAK_PORT=8090
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_USERNAME=alice
KEYCLOAK_DEMO_PASSWORD=alice
KEYCLOAK_REALM=reviewvault
KEYCLOAK_DB_USERNAME=keycloak_user
KEYCLOAK_DB_PASSWORD=keycloak_pass
KEYCLOAK_DB=keycloak_db

KAFKA_EXT_PORT=9092
KAFKA_INT_PORT=19092
KAFKA_CONTROLLER_PORT=29092

KAFKA_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
KAFKA_VALUE_SERIALIZER=org.springframework.kafka.support.serializer.JacksonJsonSerializer
KAFKA_KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
KAFKA_VALUE_DESERIALIZER=org.springframework.kafka.support.serializer.JacksonJsonDeserializer
KAFKA_BOOTSTRAP_SERVER=kafka:19092
KAFKA_TOPIC_MEDIA_ITEM_EVENTS=reviewvault.media-item-events.v1

KAFKA_REST_PORT=8088

EUREKA_PORT=8761

GATEWAY_PORT=8080

MEDIA_PORT=8081
MEDIA_DB=media_db
MEDIA_DB_USERNAME=media_user
MEDIA_DB_PASSWORD=media_pass

PROFILE_PORT=8082
PROFILE_DB=profile_db
PROFILE_DB_USERNAME=profile_user
PROFILE_DB_PASSWORD=profile_pass

REVIEW_PORT=8083
REVIEW_DB=review_db
REVIEW_DB_USERNAME=review_user
REVIEW_DB_PASSWORD=review_pass